DATABASE_URL="postgresql://neondb_owner:npg_SBgODb2sn5vC@ep-calm-recipe-axskot0q-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="h6bs0WytXTwJZxCwotWyATHDITysYYCm04h2LsnyL+E="

# Google OAuth
GOOGLE_CLIENT_ID="842157854298-2aheok52jnm3q4vsf8shpghtnan432nb.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"

# Upstash Redis (Rate Limiting)
UPSTASH_REDIS_REST_URL="https://large-dingo-136199.upstash.io"
UPSTASH_REDIS_REST_TOKEN="gQAAAAAAAhQHAAIgcDFkNmQxOWRjOWRkMjQ0MGU2OWNmYWUwMDY1NWQ5N2JkNw"
